@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.3);
    opacity: 0.2;
  }
}

.about {
  padding: 100px 80px 0;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.about__title {
  margin: 0;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  gap: 20px;
  margin: 19px 0 173px auto;
  max-width: 660px;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
