.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  display: flex;
  font-weight: 500;
  margin: 0 0 8px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__label:last-of-type {
  border-bottom: 0;
}

.form__input {
  border-radius: 4px;
  border-color: #838383;
  border-style: solid;
  box-sizing: border-box;
  width: 385px;
  height: 60px;
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
  height: 60px;
  width: 385px;
  margin: 0 0 32px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.5s linear 0.5s;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 0 12px 0 0;
}
