.menu {
  padding: 100px 0 0 0;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
}

.menu__title {
  max-width: 780px;
  margin: auto;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 540px;
}

.card__title {
  font-family: "Inter";
  font-weight: bold;
  line-height: 30px;
}

.card__list-item {
  margin: 16px 0 0 0;
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-item:first-of-type {
  margin-top: 0;
}

.card__list-divider {
}
