.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0px 0px 0px;
}
