.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0 80px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraphs {
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  margin: 0;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}

.content {
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipe__video {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0px 0px 0px;
}

.footer {
}
